@import 'tailwindcss';

@theme {
  --color-primary: #ff007a;
  --color-secondary: #7bffc0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
